*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.containerLogin{
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.titleLogin{
    width: 30vw;
    text-align: right;
    margin-right: 5rem;
    font-weight: 700;
    text-shadow: 0 3px 3px rgba(67, 66, 66, 0.509);
}